# Miscellaneous
*.class
*.log
contador_de_pessoas/*.pyc
*.swp
contador_de_pessoas/.DS_Store
.atom/
contador_de_pessoas/.buildlog/
contador_de_pessoas/.history
contador_de_pessoas/.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
contador_de_pessoas/.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
contador_de_pessoas/.dart_tool/
contador_de_pessoas/.flutter-plugins
contador_de_pessoas/.flutter-plugins-dependencies
contador_de_pessoas/.packages
contador_de_pessoas/.pub-cache/
contador_de_pessoas/.pub/
contador_de_pessoas/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
